body {
    background-color: rgb(182, 182, 214);
    color: #100666;

}

.logo {
    height: 80px;
}

.principal {
    display: flex;
    margin: 6%;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
 flex-direction: row;
}


.texto {

    width: 600px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    justify-content: center;
    background-color: rgb(237, 243, 159);
    width: 150px;
    height: 35px;
    margin-top: 45px;
    border-radius: 19px;
    size: 20px;
}
img{
    size: 20px;
    flex-direction: row;
}


main{
    align-items: center;
}

button:hover{
    background-color: rgb(107, 180, 245);
}
footer{
    background-color: #100666;
    color: aliceblue;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: smaller;

}
header{
   
    font-family: Arial, Helvetica, sans-serif;
align-items: center;
    flex-direction: row;
    display: flex;
   
}

.area2{
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: aliceblue;
    color: #100666;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30%;
    padding-bottom: 30%;


}
section{

 
    text-align: center;
    
padding-right: 10%;
}
a{
    text-decoration: none;
    padding: 20px;
align-items: center;
}